*
/*
.vscode
.vscode/sftp.json
!custom/templates/Nexus/
!custom/panel_templates/Default/nexus/
!modules/Nexus/
!README.html
!README.md
!composer.json
!composer.lock
!phpstan.neon
!.gitignore
!.github/*
